<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
            <!-- main right col -->
            <div class="column col-sm-12 col-xs-12" id="main">
                
                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top" ng-include="'partials/login-form.html'"></div>
                <!-- /top nav -->
                
                <!-- register form -->
                <div class='container' id='home'>
                    <div class='register' class='row' ng-include="'partials/register-form.html'"></div>
                </div>
                <!-- /register form -->

            <!-- /main -->
          
        </div>
    </div>
</div>