<div class="col-md-12">
     <div class="widget-area no-padding blank">
        <div class="status-upload">
            <form ng-submit='createPost();'>
                <textarea ng-model='newPost.postContent' style='resize:none; height:90px' placeholder="Tell {{friendData.name}} something"></textarea>
                 <button type="submit" class="btn-lg btn-success"><i class="glyphicon glyphicon-share-alt"></i> Post</button>
            </form>
         </div><!-- Status Upload  -->
    </div><!-- Widget Area -->
</div>